extends ../views/base
block vars
    - var navType = "solid"
    - var pageType = "tokensale"
    - var title = "DAWN Project - Token Sale"
block content
    section#top.tokensale
        .container
            .row
                .col-sm-12.text-left
                    h1 VALIDATOR PRE-ORDER PAGE
                    h3 Why would I want to become a Dawn validator?
                    p The Dawn network will launch with 64 validators which have been carefully selected across the world. We choose people according to geographical location and access to high-speed internet.
                    p Becoming a validator in the network is the ultimate way of getting access to a the RAY token at the start of the network. We will not be offering the token in an ICO, nor do we allocate a pre-mine for the development team in the genesis block.
                    p Being a validator is the only way a person can get access to the RAY token during the first few months of the project. This is why we employ a strict selection process before we allow people to become a validator of the Dawn chain.
                    h3 How can I become a Dawn validator?
                    p There's two ways to become a validator at this moment, you can pre-order one of our hardware validators (1u rack routers for professionals), or you can buy a validator unlock key and then use your own hardware as a validator.
                    p The only way to get a guaranteed validator position at launch is by pre-ordering an unlock key and (pending acceptance by the Dawn team) running the chain on a machine that satisfies our minimum requirements.
                    .big Currently:&nbsp;&nbsp;
                        .fraction
                            span.fup 61
                            span.bar /
                            span.fdn 64
                        | &nbsp;&nbsp;validators are available.
                    h4 Contact us now to reserve your spot in the Dawn launch!
                    Email <a href="mailto:validators@dawn-project.com">validators@dawn-project.com</a>